body {
    font-family: 'Montserrat', sans-serif;
}

header { 
    background: #BBBBBB;
    padding: 20px 0;
}

    .caixa {
        position: relative;
        width: 940px;
        margin: 0 auto;
    }

        nav {
            position: absolute;
            top: 110px;
            right: 0;
        }

            nav li {
                display: inline;
                margin: 0 0 0 15px;

            }

                nav a {
                    text-transform: uppercase;
                    color: #000000;
                    font-weight: bold;
                    font-size: 22px;
                    text-decoration: none;
                }

                nav a:hover {
                    color: #c78c19;
                    text-decoration: underline;
                }
/* header */


main {
    width: 940px;
    margin: 0 auto;
}

    form {
        margin: 40px 0;
    }

        .informacoes legend {
            font-size: 2em;
            margin-bottom: 2%;
            font-weight: bold;
        }

        form label, form legend {
            display: block;
            font-size: 1.2em;
            margin: 0 0 10px;
        }

            form > label {
                margin-top: 10px;
            }

        .input-padrao, .mensagem {
            display: block;
            margin: 0 0 20px;
            padding: 10px 25px;
            width: 50%;
        }

        .tel-container input {
            display: block;
            margin: 0 0 5px;
            padding: 10px 25px;
            width: 50%;
        }

            #formato-aviso {
                font-size: 14px;
                font-weight: normal;
                margin: 5px 0 5px auto;
            }

        .tipo-contato {
            margin-bottom: 20px;
        }

        .checkbox {
            margin: 20px 0;
        }

        .enviar {
            width:40%;
            padding: 15px 0;
            background: orange;
            color: white;
            font-weight: bold;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            transition: 0.6s all;
            cursor: pointer;
        }

            .enviar:hover {
                background: darkorange;
                transform: scale(1.06);
            }

    table {
        margin: 20px 0 40px;
    }

        thead {
            background: #555555;
            color: white;
            font-weight: bold;
        }

        td, th {
            border: 1px solid #000000;
            padding: 8px 15px;
        }
/* main */

@media screen and (max-width: 480px) {
    .caixa {
        width: auto;
        text-align: center;
    }

        nav {
            align-content: center;
            position: static;
        }

    main {
        width: auto;
        margin: 0 5% 0 5%;
    }

        .input-padrao, .mensagem, #telefone {
            width: 80%;
        }
}
/* main mw=480px */


footer {
    text-align: center;
    background: url("../produtos/bg.jpg"); /* ../produtos/bg. */
    padding: 40px 0;
}

    .copyright {
        color: #FFFFFF;
        font-size: 13px;
        margin: 20px 0 10px 0;
    }

    .desenvolvido {
        color: #FEFEFE;
        font-size: 13px;
        margin: 10px 0;
    }

    .logo-svg {
        width: 24px;
        height: 24px;
        filter: grayscale(80%);
        transition: filter 0.3s ease;
    }

        .logo-svg:hover {
            filter: none;
            cursor: pointer;
        }
/* footer */